


 /* Wrapper for side-by-side containers */
.login-page-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

/* Container that holds each card */
.login-page {
  flex: 1 1 25rem;
  max-width: 25rem;
  padding: 2.5rem;
  height: 100%;
}

/* Main card container */
.login-container {
  background-color: var(--color-warm-white);
  padding: 1.5rem;
  border: 0.125rem solid var(--color-deep-green-teal);
  outline: 0.125rem solid var(--color-powder-blue);
  border-radius: 1rem;
  box-shadow:
  0 0.125rem 0.25rem rgba(0, 0, 0, 0.12),
  0 0.375rem 0.75rem rgba(0, 0, 0, 0.18),
  inset 0 0.0625rem 0 rgba(255, 255, 255, 0.4);

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 23.125rem;
}


/* Title styling */
.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-dark-grape);
}

/* Form content block */
.login-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--color-black);
  font-weight: 600;
  font-size: 1.1rem;
}

/* Generic form label styling */
.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

/* Input field styling */
.login-form input,
.login-form select {
  width: 100%;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.login-form > *:not(:last-child) {
  margin-bottom: 1.25rem;
}


/* Price summary block */
.price-summary {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--color-black);
}

/* Spacer pushes button to the bottom */
.spacer {
  flex-grow: 1;
}

/* Buttons */
.login-button {
  width: 100%;
  padding: 0.5rem;
  background-color: #2b7a78;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  box-shadow: 0 0.09375rem 0 #205e5b, 0 0.04375rem 0.125rem rgba(0, 0, 0, 0.15);
  position: relative;
  top: 0;
}

.login-button:hover {
  background-color: #205e5b;
}


