.dog-profile {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 1rem;
    border: 3px solid var(--color-deep-green-teal);
    background-color: var(--color-warm-white);
    border-radius: 0.5rem;
  }

  .dog-overview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: start;
    background-color: var(--color-soft-beige); 
    padding: 1rem; 
    border-radius: 0.5rem;
  }

  .dog-details {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;   
    padding-right: 0;  
    padding-bottom: 1.3rem;   
    margin-right: 0;  
    border: 3px solid var(--color-soft-dark-purple);
    border-radius: 0.5rem;
    color: var(--color-dark-grape); 
    line-height: 3.3; 
  }

  .dog-details li strong {
    display: inline-block;
  }
  

  .dog-name {
    font-family: 'Kalam', cursive;
    text-align: left;
    font-weight: 500;
    color: var(--color-muted-lavender); 
    -webkit-text-stroke: 2px #46265A;
    text-transform: uppercase;
    font-size: 2.6em;
    letter-spacing: 0.2rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
  }

  .dog-details ul {
    margin-top: -1rem; /* Adjust this value to move it up */
    font-size: 1em;
  }

  .photo-gallery {
    display: flex;
    flex-wrap: wrap;  
    align-items: flex-start;             /* Allows wrapping to a new line */
    gap: 0.5rem;                   /* Slightly smaller gap */
    align-items: flex-start;       /* Align to top */
  }

  .photo-gallery img {
    width: calc(50% - 0.25rem);    /* Two per row, considering gap */
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 3px solid var(--color-soft-dark-purple);
  }


  
  .offer-home {
    margin-bottom: 0; /* ensures button touches footer */
  }
  
  .offer-home-button {
    display: inline-block;
    margin-top: 0.5rem; /* space above button */
  }
  

  /* Offer home button */
  .offer-home-button {
    background-color: var(--color-soft-peach);
    color: var(--color-medium-salmon);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .offer-home-button:hover {
    background-color: var(--color-muted-rose);
    color: var(--color-white);
    transform: scale(1.05);
  }
  

  @media (max-width: 768px) {
    .dog-top-section {
      flex-direction: column;
    }
  
    .dog-description,
    .photo-gallery {
      max-width: 100%;
      flex: 1 1 100%;
    }
  
    .photo-gallery {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  
  
  