
  /* Header */

header {
  background-color: var(--color-warm-white);
  border-top: 0.2rem solid var(--color-deep-green-teal);
  border-bottom: 0.2rem solid var(--color-deep-green-teal);
  height: 4.5rem;
  padding: 0;
  position: relative;
  z-index: 1;
}

.header__logo {
  left: -2.1rem;
  }
  
  /* Headings and Emojis */
  
  .results-heading {
    color: var(--color-soft-dark-purple);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin: 1rem 0 0 0;
    text-align: center;
  }
  
  .paw-large {
    display: inline-block;
    font-size: 2.3rem;
    margin: 0 0.1rem;
    position: relative;
    top: -0.2rem;
    transform: rotate(-20deg);
    vertical-align: middle;
  }
  
  .available-heading {
    color: var(--color-warm-white);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 0.2rem;
    text-align: center;
  }
  
  .heart {
    color: var(--color-medium-salmon);
    font-size: 2.5rem;
    margin: 0 0.5rem;
    vertical-align: middle;
  }
  
  
  /* Dog Grid and Cards */
  
  .dog-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin: 0 auto;
    max-width: 77rem;
    padding: 1rem 0.3rem;
  }
  
  .dog-card {
    border: 0.125rem solid var(--color-soft-dark-purple);
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.06);
    color: inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.2s ease;
  }
  
  .dog-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .dog-card:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.12);
    transform: scale(1.03);
  }
  
  .dog-card img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  
  .dog-info {
    background-color: var(--color-soft-peach);
    padding: 1rem;
  }

  .gender-symbol {
    font-weight: 900;
    font-family: "Segoe UI Symbol", "Arial", sans-serif;
    margin-right: 0.2rem;
    display: inline-block;
  }
  
  .gender-female { 	
    color: var(--color-rosy-brown);
  }
  
  .gender-male {
    color: var(--color-royal-blue);
  }
  
  .dog-info h2 {
    color: var(--color-dark-brown);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .dog-info p {
    color: var(--color-soft-dark-purple);
    font-size: 1rem;
    font-weight: 500;
  }
  
  
  /* Footer */
  
  footer {
    background-color: var(--color-muted-teal);
    border-top: 0.2rem solid var(--color-powder-blue);
    color: var(--color-warm-white);
    font-size: 1.1rem;
    line-height: 1.3;
    margin-top: 0.2rem;
    padding: 0.4rem 0;
    text-align: center;
  }
  
  footer a {
    color: var(--color-muted-coral);
    font-weight: 550;
    margin: 0 0.3rem;
    text-decoration: none;
  }
  